
.play-grid {
	width: 608px;
	margin: auto;
	
	-webkit-perspective: 38px;
	-webkit-perspective-origin: 50% 50%;
	
	-moz-perspective: 38px;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective: 38px;
	-ms-perspective-origin: 50% 50%;
	-o-perspective: 38px;
	-o-perspective-origin: 50% 50%;
	perspective: 38px;
	perspective-origin: 50% 50%;
}

.play-grid .grid {
    /*-webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    
	-webkit-transform-origin: 50% 100px -140px;
    transform-origin: 50% 100px -140px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;*/
	
	box-shadow: 5px 5px 16px;
	transform: rotateX(1deg);
	-webkit-transform: rotateX(1deg);
	-moz-transform: rotateX(1deg);
	-ms-transform: rotateX(1deg);
	-o-transform: rotateX(1deg);
}

.play-grid .grid.my-turn {
    opacity: 1;
    -webkit-transform: scale(1), rotateX(1deg);
	-moz-transform: scale(1), rotateX(1deg);
	-ms-transform: scale(1), rotateX(1deg);
	-o-transform: scale(1), rotateX(1deg);
    transform: scale(1), rotateX(1deg);
    /*-webkit-animation: spin 5s 1;*/
}

/*@-webkit-keyframes spin {
    80% {
        -webkit-transform: rotateX(0deg);
    }
    to {
        -webkit-transform: rotateX(360deg);
    }
}*/

.grid-cell {
    /*float: left;*/
	display: inline-block;
	background-color: #FFF;
	width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    vertical-align:  middle;
    text-align: center;

}

.grid-cell:hover {
    cursor: pointer;
}

.grid-cell:nth-child(odd){
    background-color: #ff3322;
}

play-grid .message {
    position: absolute;
}

#5a534f

.turn {
   /* transform: translateY(-50px) scaleY(0);
    -moz-transform: translateY(-50px) scaleY(0);
    -webkit-transform: translateY(-50px) scaleY(0);*/
    opacity: 0;
}
.turn.marked {
    opacity: 1;
    width: 20px; height:20px;
    margin: auto auto;
    vertical-align:  middle;
    text-align: center;
    border-radius: 60px;
    background: #f08080;
/*
    transform: translateY(0px) scaleY(1);
    -webkit-transform: translateY(0px) scaleY(1);
    -moz-transform: translateY(0px) scaleY(1);*/
}

.turn.belongs-to-line {
    border: 3px solid #62c462;
    box-shadow: 0px 0px 50px #f08080;
    -webkit-box-shadow: 0px 0px 50px #f08080;
    -moz-box-shadow: 0px 0px 50px #f08080;
}

.turn.marked.by-me {
    background: lightBlue;
}

/*

view of the challenger and opponent

*/

#players {
	height: 60px;
	text-align: right;
	margin: 5px 0px;
}

#players .challenger, #players .opponent {
	overflow: hidden;
	position: relative;
	width: 40%;
	height: 100%;
	display: inline-block;
	background-color: #808080;
	
	border-radius: 5px;
	border: 1px solid #999;
	box-shadow: 3px 3px 5px;
}
 #players .challenger {
	float: left;
 }
 
 #players .challenger .online {
	float: left;
 }
 
 #players .challenger .status {
	margin-right: 10px;
	float: right;
	background-color: #33bbff;
 }
