
.play-grid {
	width: 608px;
	
	margin: 40px auto;
	margin-bottom: 160px;


	-webkit-perspective: 38px;
	-webkit-perspective-origin: 50% 50%;

    /*ff doesn't like it
	-moz-perspective: 38px;
	-moz-perspective-origin: 50% 50%;*/

	-o-perspective: 38px;
	-o-perspective-origin: 50% 50%;

	perspective: 38px;
	perspective-origin: 50% 50%;
}

.play-grid .grid {
    /*-webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    
	-webkit-transform-origin: 50% 100px -140px;
    transform-origin: 50% 100px -140px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;*/
	
	height: auto !important;
	
	box-shadow: 5px 5px 16px;
	transform: rotateX(1deg);
	-webkit-transform: rotateX(1deg);
	-moz-transform: rotateX(1deg);
	-o-transform: rotateX(1deg);
}

.play-grid .grid.my-turn {
    opacity: 1;
    -webkit-transform: scale(1), rotateX(1deg);
	-moz-transform: scale(1), rotateX(1deg);
	-o-transform: scale(1), rotateX(1deg);
    transform: scale(1), rotateX(1deg);
    /*-webkit-animation: spin 5s 1;*/
}

/*@-webkit-keyframes spin {
    80% {
        -webkit-transform: rotateX(0deg);
    }
    to {
        -webkit-transform: rotateX(360deg);
    }
}*/

.grid-cell {
    /*float: left;*/
	display: inline-block;
	background-color: #FFF;
	width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    vertical-align:  middle;
    text-align: center;

}

.grid-cell:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #9f9;
    border: 1px solid #9f9;
    -webkit-transform: translateY(-2px);
}

.grid-cell:nth-child(odd){
    background-color: #ff3322;
}

play-grid .message {
    position: absolute;
}

#5a534f

.turn {
   /* transform: translateY(-50px) scaleY(0);
    -moz-transform: translateY(-50px) scaleY(0);
    -webkit-transform: translateY(-50px) scaleY(0);*/
    opacity: 0;
}
.turn.marked {
    opacity: 1;
    width: 20px; height:20px;
    margin: auto auto;
    vertical-align:  middle;
    text-align: center;
    border-radius: 60px;
    background: #f08080;
/*
    transform: translateY(0px) scaleY(1);
    -webkit-transform: translateY(0px) scaleY(1);
    -moz-transform: translateY(0px) scaleY(1);*/
}

.turn.belongs-to-line {
    border: 3px solid #62c462;
    box-shadow: 0px 0px 50px #f08080;
    -webkit-box-shadow: 0px 0px 50px #f08080;
    -moz-box-shadow: 0px 0px 50px #f08080;
}

.turn.marked.by-me {
    background: lightBlue;
}

/*

view of the challenger and opponent

*/

#players {
	height: 60px;
	text-align: right;
	margin: 5px 0px;
}

#players .challenger, #players .opponent {
	overflow: hidden;
	position: relative;
	width: 40%;
	height: 100%;
	display: inline-block;
	background-color: #808080;
	
	border-radius: 5px;
	border: 1px solid #999;
	box-shadow: 3px 3px 5px;
}

#players .challenger {
	float: left;
}
 
#players .challenger .online {
	float: left;
}
 
#players .challenger .status {
	margin-top: 1px;
	margin-right: 10px;
	float: right;
}

#players .name {
	position: absolute;
	top: 10px;
	bottom: 10px;
	
	overflow: hidden;
	color: #FFF;
	text-shadow: #333 3px 3px 5px;
	font-size: 20px;
	font-weight: bold;
}
#players .challenger .name {
	left: 60px;
	right: 40px;
}

#players .opponent .name {
	text-align: left;
	left: 40px;
	right: 60px;
}


#players .online {
	margin: 20px;
}

#players .status {
	background-color: #FFF;
	
	transition: background-color 1s linear;
	-webkit-transition: background-color 1s linear;
	-ms-transition: background-color 1s linear;
	-moz-transition: background-color 1s linear;
	-o-transition: background-color 1s linear;
}
 
 #players .my-turn .status {
	background-color: #0055dd;
 }
 
 #players .waiting .status {
	-webkit-animation: waitingAnim 4s infinite;
	-ms-animation: waitingAnim 4s infinite;
	-o-animation: waitingAnim 4s infinite;
	-moz-animation: waitingAnim 4s infinite;
	/* fallback solution if the browser does not support CSS animation */
	background-color: #ffff66;
}

@-webkit-keyframes waitingAnim {
    0% {background-color: #FFF;}
	50% {background-color: #ffff66;}
    100% {background-color: #FFF;}
}

@-o-keyframes waitingAnim {
    0% {background-color: #FFF;}
	50% {background-color: #ffff66;}
    100% {background-color: #FFF;}
}

@-ms-keyframes waitingAnim {
    0% {background-color: #FFF;}
	50% {background-color: #ffff66;}
    100% {background-color: #FFF;}
}

@-moz-keyframes waitingAnim {
    0% {background-color: #FFF;}
	50% {background-color: #ffff66;}
    100% {background-color: #FFF;}
}

 #players .opponent .status {
	margin-left: 10px;
	float: left;
 }
 
 #players .opponent .online {
	float: right;
 }
 
 
 
 #players .won .status {
	background-color: #66ee00;
 }
 
 #players .lost .status {
	background-color: #ff3300;
 }