.play-grid {
    width: 620px;
    -webkit-perspective: 500;
    perspective: 500;
    -webkit-perspective-origin-x: 50%;
    perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    perspective-origin-y: 50%;
}

.play-grid .grid {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform-origin: 50% 100px -140px;
    transform-origin: 50% 100px -140px;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0.6;
}

.play-grid .grid.my-turn {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    /*-webkit-animation: spin 5s 1;*/
}

/*@-webkit-keyframes spin {
    80% {
        -webkit-transform: rotateX(0deg);
    }
    to {
        -webkit-transform: rotateX(360deg);
    }
}*/

.grid-cell {
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    vertical-align:  middle;
    text-align: center;

}

.grid-cell:hover {
    cursor: pointer;
}

.grid-cell:nth-child(odd){
    background-color: #5a534f;
}


#5a534f

.turn {
    transform: translateY(-50px) scaleY(0);
    -moz-transform: translateY(-50px) scaleY(0);
    -webkit-transform: translateY(-50px) scaleY(0);
    opacity: 0;
}
.turn.marked {
    opacity: 1;
    width: 20px; height:20px;
    margin: auto auto;
    vertical-align:  middle;
    text-align: center;
    border-radius: 60px;
    background: #f08080;

    transform: translateY(0px) scaleY(1);
    -webkit-transform: translateY(0px) scaleY(1);
    -moz-transform: translateY(0px) scaleY(1);
}

.turn.belongs-to-line {
    border: 3px solid #62c462;
    box-shadow: 0px 0px 50px #f08080;
    -webkit-box-shadow: 0px 0px 50px #f08080;
    -moz-box-shadow: 0px 0px 50px #f08080;
}

.turn.marked.by-me {
    background: lightBlue;
}


