/*
			layout/table.css
	#####################################
	#		createt by @Jaun1911		#
	#####################################
	layout and size of the tables
*/

table.size{
	width:85%;
	height: 30px;
	margin:20px;
}

table.border{
	table-layout:fixed;
	border:1px none #747474;
	border-spacing: 0px;
	border-style:solid;
}
.radius,
table.radius {
	border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
}

table thead{
	/*color different*/
	background: #2d5f99; /* Old browsers */
}

table thead th a:link, table thead th a:visited, table thead th {
	color:#fff;
}

table thead th a:hover {
	text-decoration: underline;
}


table tbody{
	border:1px solid #B0C4DE;
	border-style:solid;

}

table tr{
	border-style:solid;
    cursor: pointer;
}

table tr:hover{
    border:1px solid #B4CDCD;
    text-align: center;
    color: #FF5500;
}

/*
nth-child 
jede zweite zeile wird in der angegebenen Farbe dargestellt. die erste jedoch nicht.
nth-child ist css 3 spez.
*/

table tr:nth-child(2n +2 ){
	background:#ADD8E6;
	border:1px solid #B0C4DE;
} 

table td{
	border:1px solid #B4CDCD;
	text-align: center;
    cursor: pointer;
}
