/*
			layout/linkview.css
	#####################################
	#		createt by @Jaun1911		#
	#####################################
	layout navigation
	
	linkviewing
*/

a:link{
	text-decoration:none;
	font-size:12px;
	color: #0040FF
}

a:visited{
	text-decoration:none;
	font-size:12px;
	color: #00BFFF
}

a:hover{
	text-decoration:none;
	font-size:12px;
	color: #FF5500;   
}

a:active{
	text-decoration:none;
	font-size:12px;
}

a:focus{
	text-decoration:none;
	font-size:12px;
}