/*
			layout/style.css
	#####################################
	#		createt by @Jaun1911		#
	#####################################
	layout navigation
	
	display:none;
*/

/*placedefinition*/
ul.horizonal{
    margin:1% 25%;
}

ul.vertical li ul, ul.horizontal li ul {
    display:none;
}

ul.vertical li:hover ul , ul.horizontal li:hover ul{
    display:table-caption;
	color:#FF5500;
}

ul.styleless{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

/*color link*/
ul.horizontal :link{
	font-family:arial;
	font-size:14px;
	color:#FFFFFF;
}

ul.vertical :link{
	font-family:arial;
	font-size:13px;
	color:#FFFFFF;
}

/*capitalize on the navigation*/

ul.horizontal > li  {
	padding:5px 20px;
    display:inline-block;
	width: 15%;
	text-transform: uppercase;
	border-left: white solid 2px;
}
ul.horizontal> li:first-child   {
	border-left: none;
}

ul.vertical > li  {
	text-transform: none;
}

ul.horizontal :visited{
	font-family:arial;
	font-size:14px;
	color:#FFFFFF;
}
ul.vertical :visited{
	font-family:arial;
	font-size:13px;
	color:#FFFFFF;
}

ul.horizontal :hover{
	font-family:arial;
	font-size:14px;
	color:#0040FF;
}

ul.vertical :hover{
	font-family:arial;
	font-size:13px;
	color:#0040FF;
}