/*
			layout/style.css
	#####################################
	#		createt by @Jaun1911		#
	#####################################
	layout navigation
	
	display:none;
*/
/*placedefinition*/
ul.horizonal{
    margin:1% 25%;
}

ul.horizontal > li {
    padding:5px 20px;
    display:inline-block;
	width: 10%;
}

ul.vertical li ul, ul.horizontal li ul {
    display:none;
}


ul.vertical li:hover ul , ul.horizontal li:hover ul{
    display:table-caption;
	color:#FF5500;
}

ul.styleless{
	margin:0px;
	padding:0px;
	list-style-type:none;
}

/*linkdefinition*/
ul.fontstyle >li:link{
	font-size:20px;

}

