/*
			layout/table.css
	#####################################
	#		createt by @Jaun1911		#
	#####################################
	layout and size of the tables
*/

table.size{
	width:85%;
	height: 30px;
	margin:20px;
}

table.border{
	table-layout:fixed;
	border:1px none #747474;
	border-spacing: 0px;
	border-style:solid;
}
.radius,
table.radius {
	border-radius: 5px 5px 5px 5px;
	-ms-border-radius: 5px 5px 5px 5px;
}

table thead{
	/*color different*/
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
	color:#f0f0f0;
}

table tbody{
	border:1px solid #B0C4DE;
	border-style:solid;
}

table tr{
	border-style:solid;
}

/*
nth-child 
jede zweite zeile wird in der angegebenen Farbe dargestellt. die erste jedoch nicht.
nth-child ist css 3 spez.
*/

table tr:nth-child(2n +2 ){
	background:#ADD8E6;
	border:1px solid #B0C4DE;

} 

table td{
	border:1px solid #B4CDCD;
}